
/* ==========================================================================
   #Global
   ========================================================================== */


html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: #fff; 
}

p {
  line-height: 1.6
}

/* ==========================================================================
   #Nav
   ========================================================================== */

.global-nav {
  height: 44px;
}
.global-nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100px;
  height: 100%;
  margin: 0 auto;
}
